
/* Styling slider */

.slider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  
}

.slider-images{
  flex: 1;
  display: flex;
  max-width: 80%;
  position: relative;
}

.slider-images-container{
  display: flex;
  width: max-content;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: all 0.3s ease-in-out;
}

.slider-images-container::-webkit-scrollbar{
  display: none;
}


.slider-images-card{
  position: relative;
  min-width: 320px;
  height: 440px;
}

.slider-images-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slider-arrow{
  background-color: rgba(0, 0, 0, 0.180);
  border: none;
  font-size: 2rem;
  color: var(--color-white);
  position: absolute;
  cursor: pointer;
  top: 45%;
  transition: all 250ms ease-in-out;
  padding: 0;
}

.left-arrow{
  left: 0;
}

.right-arrow{
  right: 0;
}

.slider-arrow:hover{
  background-color: rgba(0, 0, 0, 0.250);
}


@media screen and (min-width: 2000px) {
  .slider-images{
    max-width: 100%;
  }

  .slider-images-card{
    min-width: 400px;
    height: 480px;
  }
}

@media screen and (max-width: 972px) {
  .slider-images-card{
    min-width: 280px;
    height: 390px;
  }
}

@media screen and (max-width: 760px) {
  .slider-images-card{
    min-width: 250px;
    height: 350px;
  }
}


@media screen and (max-width: 650px) {
  .slider-images{
    max-width: 95%;
  }
}

@media screen and (max-width: 450px) {
  .slider-images-card{
    min-width: 140px;
    height: 190px;
  }
}